<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MarriageProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
   <servlet>
  <servlet-name>marriage</servlet-name>
  <servlet-class>com.vsics.MarriageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>marriage</servlet-name>
  <url-pattern>/marriageurl</url-pattern>
  </servlet-mapping>
  
</web-app>